* {
    margin: 0;
    padding: 0;
}

h1,
h2 {
    padding: 1rem;
    font-size: 1.1rem;
}

body {
    display: grid;
    grid-template: auto auto auto / auto auto auto;
}

header {
    background: grey;
    color: white;
    grid-column: 1 /4;
    height: 150px;
}

nav {
    display: flex;
    background: black;
    color: white;
    align-items: center;
    height: 50px;
    margin-top: 50px;
}

a {
    text-align: center;
    flex: 1 1 100%;
}

main {
    background: lightgrey;
    grid-column: 1 /3;
    color: grey;
    height: 300px;
}

footer {
    background: gray;
    grid-column: 1/4;
    text-align: center;
    color: white;
    height: 150px;
}