@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@200;300;400;500;600;700;800&family=Sigmar&display=swap');

* {
    margin: 0;
    /* padding: 0;
    box-sizing: border-box; */
    /* max-width: 800px; */
}

:root {
    --light_green: #606C38;
    --dark_green: #283618;
    --beige: #FEFAE0;
    --light_orange: #DDA15E;
    --dark_orange: #BC6C25;
}

header {
    text-align: center;
    background-color: #FEFAE0;
    font-family: sigmar, sans-serif, trebuchet;
    letter-spacing: 3px;
}

body {
    font-family: 'mukta mahee', sans-serif;
    color: var(--dark_green);
}

nav {
    background-color: var(--light_green);
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

nav a {
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    color: var(--beige);
}

nav a:hover {
    border: 1px solid #fff;
    background-color: var(--dark_orange);
}

div {
    display: block;
}

section {
    display: block;
    padding: 1rem;
    /* border: 1px solid var(--light_green); */
    border-radius: 2px;
}

figure {
    margin: .5rem;
}

main {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: .3rem;
    padding: 1rem;
}

.me img {
    float: right;
    width: 100px;
    margin-right: 2rem;
}

.card p {
    margin: .5rem;
    padding: .5rem;
}

.country {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
}

.country h3 {
    grid-column: 1/3;
    text-align: center;
    border-bottom: 1px solid black;
    margin: 0 auto;
}

img {
    margin: .5rem;
}

h2 {
    text-align: center;
    background-color: var(--dark_green);
    color: #FEFAE0;
    border-radius: .3rem .3rem 0 0;
    padding: .2rem;
}

ul {
    display: block;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    margin: .5rem;
    padding: 1rem;
}

.card {
    border: 1px solid var(--light_green);
    border-radius: .3rem;
    padding: 0;
}

footer {
    background-color: var(--light_green);
    color: var(--beige);
    text-align: center;
}

.country p {
    width: 100%;
}