:root {
    --darkblue: #2364AA;
    --lightblue: #3da5d9;
    --teal: #73BFB8;
    --yellow: #FEC601;
    --orange: #EA7317;
    --mainfont: "Space Mono Static", "Courier New", serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--mainfont);
}

h1 {
    font-family: var(--mainfont);
    background-color: var(--darkblue);
    color: #fff;
    padding: 1rem;
    text-align: center;
    display: block;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

form {
    display: block;
    padding: 1rem;
    margin: 0 auto;
    background-color: #73bfb76b;
    /* color: #fff; */
    max-width: 500px;
    border: 2px solid var(--teal);
    border-radius: 1rem;
}

fieldset {
    text-decoration: none;
    border: none;
}

label {
    display: block;
    padding: .8rem 0 .8rem 0;
    font-weight: bold;
}

div {
    font-weight: bold;
}

.review select,
.review input[type="date"],
.review input[type="textarea"],
.review input[type="text"] {
    display: block;
    width: 100%;
    height: 1.2rem;
}

.review select {
    height: 3rem;
}

input[type="checkbox"] {
    padding: 0;
}

p {
    display: block;
    font-weight: bold;
}

.radio-sect {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

footer {
    background-color: var(--yellow);
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
}

textarea {
    height: 5rem;
    width: 100%;
    padding: 0 0 2rem 0;
}

.review input[type="submit"] {
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
    background-color: var(--darkblue);
    color: #fff;
}