:root {
    --brown: #813405;
    --orange: #D45113;
    --mustard: #F9A03F;
    --tan: #F8DDA4;
    --seaform: #DDF9C1;
    --font: 'Funnel Display'
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fbebce;
}

header,
main,
footer {
    font-family: var(--font);
    color: var(--brown);
}

h1 {
    text-align: center;
    padding: 1rem;
    font-size: 2.2rem;
}

img {
    width: 100%;
    height: auto;
}

h2 {
    padding: 1rem;
    background-color: var(--brown);
    color: white;
}

.databox,
.weatherbox {
    background-color: var(--seaform);
    text-align: center;
}

.icon {
    max-width: 50px;
    padding-top: 15px;
}

.table {
    display: grid;
    gap: .5rem;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
}

.label {
    text-align: right;
}

.value {
    text-align: left;
}

.weatherbox h2::after {
    content: "☀️";
    position: absolute;
    right: 2rem;
    top: 1rem;
}

.icon {
    display: none;
}

footer {
    text-align: center;
    padding: 1rem;
}